html {
    background: #018DED;
    text-align: center;
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    min-height: 100vh;
    align-items: center;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    padding: 2rem;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #EFEFEF, inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hand {
    width: 33%;
    height: 6px;
    background-image: linear-gradient(to right, black 50%, rgba(0, 0, 0, 0) 50%);
    position: absolute;
}

.sec-hand {
    height: 2px;
}

.min-hand {
    width: 30%;
}

.hour-hand {
    width: 20%;
}